{% extends "content.html" %}

{% block head %}
<link rel=stylesheet type=text/css href="{{ url_for('bp_education.static',filename='css/topic-img.css') }}">
{% endblock head %}

{% block content %}
<div class="heading right-link">
    <h1>Edit {{ topic.title }}</h1>
    <a href="{{ url_for('bp_education.delete_topic', title=topic.title) }}" class="button">Delete Topic</a>
</div>

<form method="POST" action="">
    {{ form.csrf_token }}
    {{ form.current_title }}

    <div class="form-element">
        {{ form.title.label }}
        {{ form.title }}
        {% if form.title.errors %}
        <div class="alert">
        {% for error in form.title.errors %}
            {{ error }}
        {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="form-element">
        {{ form.tags.label }}
        {{ form.tags }}
        {% if form.tags.errors %}
        <div class="alert">
        {% for error in form.tags.errors %}
            {{ error }}
        {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="form-row">
        <div class="form-element">
            <label for="Upload Image">Upload Image</label>
            <input type="file" id="imageupload" name="Upload Image">
        </div>
        <div class="form-element">
            <input type="button" id="upload" value="Upload">
        </div>
    </div>
    <div class="hidden" id="upload-message-div">
        <p id="upload-message-p"></p>
    </div>

    <div class="form-element">
        <p>Uploaded Images</p>
        {% if topic.images | list | count == 0 %}
        <p id="img-text">There are currently no uploaded images for this post.</p>
        {% else %}
        <p id="img-text">Click on an image to insert the markdown code at the current selected location.</p>
        {% endif %}
        <ul class="image-preview {% if topic.images | list | count == 0 %}hidden{% endif %}">
            {% for image in topic.images %}
            <li><img class="uploadedimage" src="{{ url_for('static',filename='upload/')}}{{ topic.id }}/{{image.filename}}"></li>
            {% endfor %}
        </ul>
    </div>

    <div class="form-element">
        {{ form.content.label }}
        <p>The content box accepts the use of markdown to style the page.</p>
        {{ form.content }}
        {% if form.content.errors %}
        <div class="alert">
        {% for error in form.content.errors %}
            {{ error }}
        {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="form-row">
        <div class="form-element">
            {{ form.submit }}
        </div>

        <div class="form-element">
            {{ form.draft }}
        </div>

        <div class="form-element">
            <input type="button" id="preview" value="Preview">
        </div>
    </div>
</form>

<script src="{{ url_for('bp_education.static',filename='topics/preview.js') }}"></script>
<script src="{{ url_for('bp_education.static',filename='topics/image-upload.js') }}"></script>

{% endblock content %}

{% block preview %}
<div id="preview-area"></div>
{% endblock preview %}
