{% extends "content.html" %}

{% block content %}
<h1>New topic for {{ module.name }}</h1>

<form method="POST" action="">
    {{ form.csrf_token }}

    <div class="form-element">
        {{ form.title.label }}
        {{ form.title }}
        {% if form.title.errors %}
        <div class="alert">
        {% for error in form.title.errors %}
            {{ error }}
        {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="form-element">
        {{ form.tags.label }}
        {{ form.tags }}
        {% if form.tags.errors %}
        <div class="alert">
        {% for error in form.tags.errors %}
            {{ error }}
        {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="form-element">
        {{ form.content.label }}
        {{ form.content }}
        {% if form.content.errors %}
        <div class="alert">
        {% for error in form.content.errors %}
            {{ error }}
        {% endfor %}
        </div>
        {% endif %}
        </div>

        <div class="form-element">
            {{ form.submit }}
        </div>

        <div class="form-element">
            <input type="button" id="preview" value="Preview">
        </div>
    </form>
    <script src="{{ url_for('bp_education.static',filename='topics/preview.js') }}"></script>
{% endblock content %}

{% block preview %}
<div id="preview-area"></div>
{% endblock preview %}
