{% extends "content.html" %}

{% block head %}
<link rel=stylesheet type=text/css href="{{ url_for('bp_education.static',filename='css/topic-img.css') }}">
{% endblock head %}

{% block content %}
<div class="heading">
    <h1>New topic for {{ module.name }}</h1>
</div>

<form method="POST" action="" enctype="multipart/form-data">
    {{ form.csrf_token }}

    <div class="form-element">
        {{ form.title.label }}
        {{ form.title }}
        {% if form.title.errors %}
        <div class="alert">
        {% for error in form.title.errors %}
            {{ error }}
        {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="form-element">
        {{ form.tags.label }}
        {{ form.tags }}
        {% if form.tags.errors %}
        <div class="alert">
        {% for error in form.tags.errors %}
            {{ error }}
        {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="form-row">
        <div class="form-element">
            {{ form.image.label }}
            {{ form.image }}
            {% if form.image.errors %}
            <div class="alert">
            {% for error in form.image.errors %}
                {{ error }}
            {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="form-element">
            {{ form.upload }}
        </div>
    </div>

    <div class="form-element">
        {{ form.content.label }}
        {{ form.content }}
        {% if form.content.errors %}
        <div class="alert">
        {% for error in form.content.errors %}
            {{ error }}
        {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="form-row">
        <div class="form-element">
            {{ form.submit }}
        </div>

        <div class="form-element">
            {{ form.draft }}
        </div>

        <div class="form-element">
            <input type="button" id="preview" value="Preview">
        </div>
    </div>
    </form>
    <script src="{{ url_for('bp_education.static',filename='topics/preview.js') }}"></script>
{% endblock content %}

{% block preview %}
<div id="preview-area"></div>
{% endblock preview %}
