{% extends "content.html" %}

{% block head %}
<link rel=stylesheet type=text/css href="{{ url_for('bp_education.static',filename='css/topic-img.css') }}">
{% endblock head %}

{% block content %}
<div class="heading right-link">
    <h1>{% if topic.draft %}Draft - {% endif %}{{ topic.title }}</h1>
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('bp_education.edit_topic', title=topic.title) }}" class="button">Edit Topic</a>
    {% endif %}
</div>

{% if topic.tags %}
    <p>Tags:
    {% for tag in topic.tags %}
        <a href="{{ url_for('bp_education.tag_topics', tag=tag.name) }}">{{ tag.name }}</a>
        {{ ' / ' if not loop.last }}
    {% endfor %}
    </p>
{% endif %}

{{ content }}

{% endblock content %}
