{% extends "content.html" %}
{% block content %}
<div class="heading right-link">
    <h1>{{ topic.title }}</h1>
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('bp_education.edit_topic', title=topic.title) }}" class="button">Edit Topic</a>
    {% endif %}
</div>

{% if topic.tags %}
    <p>Tags:
    {% for tag in topic.tags %}
        <a href="#">{{ tag.name }}</a>
        {{ ' / ' if not loop.last }}
    {% endfor %}
    </p>
{% endif %}

{{ content|safe }}

{% endblock content %}
