body {
    --background-color: #333333;
    --text-color: #FFFFFF;
}

div {
    --content-bg-color: #111111;
}

a {
    --link-color: #ffff77;
    --bg-color: #555555;
    --bg-hov-color: aliceblue;
    --text-hov-color: #000000;
}

input {
    --inp-bg-color: #333333;
    --inp-border-color: aliceblue;
    --inp-text-color: #FFFFFF;
}

input[type=submit] {
    --sub-bg-color: #555555;
    --sub-text-color: #FFFFFF;
}

input[type=button] {
    --sub-bg-color: #555555;
    --sub-text-color: #FFFFFF;
}

input:hover {
    --inp-hover-border-color: #ffff77;
    --sub-hover-bg-color: aliceblue;
    --text-hov-color: #000000;
}

.alert {
    --alert-bg-color: #6e0000;
    --alert-text-color: #FFFFFF;
}

.info {
    --alert-bg-color: #006e00;
    --alert-text-color: #FFFFFF;
}
