body {
    --background-color: lightgray;
    --text-color: #000000;
}

div {
    --content-bg-color: aliceblue;
}

input {
    --inp-bg-color: #fffff0;
    --inp-border-color: lightgray;
    --inp-text-color: #000000;
}

input[type=submit], input[type=button] {
    --sub-bg-color: #f0f0f0;
    --sub-text-color: #000000;
}

input[type=checkbox], input[type=radio] {
    /* Change bg colour of unchecked box */
    filter: invert(4%) sepia(100%);
    --check-box-checked: #7777ff;
}

input:hover {
    --inp-hover-border-color: black;
    --sub-hover-bg-color: #fffff0;
}

.alert, .error {
    --alert-bg-color: #ffd1d1;
    --alert-text-color: #6e0000;
}

.info {
    --info-bg-color: #d1ffd1;
    --info-text-color: #006e00;
}
