body {
    margin: 0;
    padding: 0;
    font-family: Helvetica,sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

.messages {
    margin-top: 4rem;
}

.content {
    background-color: var(--content-bg-color);
    max-width: 1000px;
    box-sizing: border-box;
    margin: auto;
    padding: 1rem;
    border-radius: 1rem;
}

h1 {
    margin-top: 0;
}

a {
    color: var(--link-color);
}