body {
    margin: 0;
    padding: 0;
    font-family: franklin_gothic_fs_bookRg,Arial,Helvetica Neue,sans-serif;
    background-color: #333333;
    color: white;
}

.messages {
    margin-top: 4rem;
}
