{% extends "content.html" %}
{% block content %}
<div class="heading right-link">
    <h1>{{ course.name }}</h1>
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('bp_education.edit_course', name=course.name) }}" class="button">Edit Course</a>
    <a href="{{ url_for('bp_education.new_module', name=course.name) }}" class="button">New Module</a>
    {% endif %}
</div>
<p>{{ course.description }}</p>

{% if modules | list | count > 0 %}
<p>During this course I have taken the following modules:</p>

{% with modules = course.modules %}
    {% include "modules/modules-list.html" %}
{% endwith %}
{% else %}
<p>There are currently no modules for this course.</p>
{% endif%}

{% endblock content %}
