{% extends "content.html" %}

{% block content %}
{% if new %}
<h1>New course</h1>
{% else %}
<div class="heading right-link">
    <h1>Edit {{ course.name }}</h1>
    <a href="{{ url_for('bp_education.delete_course', name=course.name) }}" class="button">Delete Course</a>
</div>
{% endif %}

<form method="POST" action="">
    {{ form.csrf_token }}

    <div class="form-element">
        {{ form.name.label }}
        {{ form.name }}
        {% if form.name.errors %}
        <div class="alert">
        {% for error in form.name.errors %}
            {{ error }}
        {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="form-row">
        <div class="form-element">
        {{ form.location.label }}
        {{ form.location }}
        {% if form.location.errors %}
        <div class="alert">
        {% for error in form.location.errors %}
            {{ error }}
        {% endfor %}
        </div>
        {% endif %}
        </div>

        <div class="form-element">
        {{ form.year.label }}
        {{ form.year }}
        {% if form.year.errors %}
        <div class="alert">
        {% for error in form.year.errors %}
            {{ error }}
        {% endfor %}
        </div>
        {% endif %}
        </div>
    </div>

    <div class="form-element">
    {{ form.description.label }}
    {{ form.description }}
    {% if form.description.errors %}
    <div class="alert">
    {% for error in form.description.errors %}
        {{ error }}
    {% endfor %}
    </div>
    {% endif %}
    </div>

    <div class="form-element">
        {{ form.submit }}
    </div>
</form>
{% endblock content %}
