<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel=stylesheet type=text/css href="{{ url_for('static',filename='css/style.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static',filename='css/nav.css') }}">

    {% if current_user.is_authenticated %}
        {% if current_user.dark_mode == 1 %}
            {% if current_user.accessibility %}
            <link rel=stylesheet type=text/css href="{{ url_for('static',filename='css/light-access.css') }}">
            <link rel=stylesheet type=text/css href="{{ url_for('static',filename='css/access.css') }}">
            {% else %}
            <link rel=stylesheet type=text/css href="{{ url_for('static',filename='css/light.css') }}">
            {% endif %}
        {% elif current_user.dark_mode == 2 %}
            {% if current_user.accessibility %}
            <link rel=stylesheet type=text/css href="{{ url_for('static',filename='css/dark-access.css') }}">
            <link rel=stylesheet type=text/css href="{{ url_for('static',filename='css/access.css') }}">
            {% else %}
            <link rel=stylesheet type=text/css href="{{ url_for('static',filename='css/dark.css') }}">
            {% endif %}
        {% else %}
            {% if current_user.accessibility %}
            <link rel=stylesheet type=text/css href="{{ url_for('static',filename='css/system-access.css') }}">
            <link rel=stylesheet type=text/css href="{{ url_for('static',filename='css/access.css') }}">
            {% else %}
            <link rel=stylesheet type=text/css href="{{ url_for('static',filename='css/system.css') }}">
            {% endif %}
        {% endif %}
    {% else %}
        <link rel=stylesheet id="theme" type=text/css href="{{ url_for('static',filename='css/system.css') }}">
        <script src="{{ url_for('static',filename='js/theme.js') }}"></script>
    {% endif %}

    {% block head %}
    {% endblock %}

    <title>{{ title }} - Digital portfolio - D1323632</title>
</head>
<body>

{% block layout %}
{% endblock %}

</body>
</html>
