<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel=stylesheet type=text/css href="{{ url_for('static',filename='style.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static',filename='nav.css') }}">

    {% block head %}
    {% endblock %}

    <title>{{ title }} - Digital portfolio - D1323632</title>
</head>
<body>
    <header>
        <div class="nav-bar">
            <nav class="main-nav">
                <a href="{{ url_for('bp_home.home') }}">Home</a>
                <a href="{{ url_for('bp_education.course_list') }}">Education</a>
                <a href="{{ url_for('bp_modules.module_list') }}">Module List</a>
            </nav>
            <nav class="user-nav">
                {% if current_user.is_authenticated %}
                <a href="#">Hello {{ current_user.username }}</a>
                <a href="{{ url_for('bp_auth.logout') }}">Logout</a>
                {% else %}
                <a href="{{ url_for('bp_auth.signup') }}">Sign Up</a>
                <a href="{{ url_for('bp_auth.login') }}">Login</a>
                {% endif %}
            </nav>
        </div>
    </header>
    <div class="messages">
    </div>
    {% block content_div %}
    {% endblock %}
</body>
</html>
