{% extends "base.html" %}

{% block layout %}
<header>
    {% block nav %}
    <div class="nav-bar">
        <nav class="main-nav">
            <a href="{{ url_for('bp_home.home') }}">Home</a>
            <a href="{{ url_for('bp_education.course_list') }}">Courses List</a>
            <a href="{{ url_for('bp_education.module_list') }}">Module List</a>
            <a href="{{ url_for('bp_education.topics_list') }}">Topic List</a>
            <a href="{{ url_for('bp_experience.experience') }}">Experience</a>
        </nav>
        <nav class="user-nav">
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('bp_profile.user_profile') }}">Hello {{ current_user.username }}</a>
            <a href="{{ url_for('bp_auth.logout') }}">Logout</a>
            {% else %}
            <a href="{{ url_for('bp_profile.anonymous_settings') }}">Display Settings</a>
            <a href="{{ url_for('bp_auth.login') }}">Login</a>
            {% endif %}
        </nav>
    </div>
    {% endblock nav %}
</header>

{% block breadcrumbs %}
<div class="content breadcrumb">
    {%- for breadcrumb in breadcrumbs -%}
        {% if not loop.last %}
        <a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a> /
        {% else %}
        {{ breadcrumb.text }}
        {% endif %}
    {%- endfor -%}
</div>
{% endblock breadcrumbs %}

<div class="messages">
    {% for message in get_flashed_messages(with_categories=True) %}
    <div class="content {{ message[0] }}">
        {{ message[1] }}
    </div>
    {% endfor %}
</div>

{% block content_div %}
{% endblock %}

<script src="{{ url_for('static',filename='js/nav.js') }}"></script>

{% endblock layout %}
