{% extends "profileform.html" %}

{% block heading %}
Dark Mode Setting
{% endblock heading %}

{% block profileform %}
<form method="POST" action="">
    {{ form.csrf_token }}

    <div class="form-element">
        {{ form.pref.label }}
        {{ form.pref }}

        {% if form.pref.errors %}
        <div class="alert">
        {% for error in form.pref.errors %}
            {{ error }}
        {% endfor %}
        </div>
        {% endif %}
    </div>
    {{ form.submit }}
</form>
{% endblock profileform %}
