{% extends "content.html" %}
{% block content %}
<div class="heading right-link">
    <h1>Course List</h1>
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('bp_education.new_course') }}" class="button">New Course</a>
    {% endif %}
</div>
<p>The following is a list of course I have taken within education</p>
<ul>
    {% for course in courses %}
    <li><a href="{{ url_for('bp_education.course_page', name=course.name) }}">{{ course.name }}</a> completed in {{ course.year }} at {{ course.location }}</li>
    {% endfor %}
</ul>
{% endblock content %}