* {
    line-height: 1.5;
}

header {
    border: solid var(--border-color);
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline 3px;
}

.content {
    border: solid var(--border-color);
}

a.button:focus {
    background-color: var(--focus-bg-color);
}

:focus {
    /* border-color: orange; */
    background-color: var(--focus-bg-color);
    color: var(--text-color);
}
