body {
    --background-color: #d3d3d3;
    --text-color: #222222;

    --accent-color: #4444ff;
    --content-background: #f0f8ff;

    --disabled-color: #444444;

    --hov-background-color: #f0f8ff;
    --hov-text-color: #ffffff;

    --inp-background-color: #fffff0;
    --inp-border: #666666;
    --button-bg-color: #BBBBBB;

    --info-bg-color: #d1ffd1;
    --alert-bg-color: #ffd1d1;

    --border-weight: 1px;
}

div {
    --content-bg-color: var(--content-background);
    --info-text-color: var(--text-color);
    --alert-text-color: var(--text-color);
}

a {
    --link-color: var(--accent-color);
    --bg-color: var(--button-bg-color);
    --bg-hov-color: var(--accent-color);
    --text-hov-color: var(--hov-text-color);
}

input, .image-preview {
    --inp-bg-color: var(--inp-background-color);
    --inp-border-color: var(--inp-border);
    --inp-text-color: var(--text-color);
}

input[type=submit], input[type=button] {
    --sub-bg-color: var(--button-bg-color);
    --sub-text-color: var(--text-color);
}

input[type=checkbox], input[type=radio] {
    --check-box-checked: var(--accent-color);
    /* Change bg colour of unchecked box */
    filter: invert(4%) sepia(100%);
}

input[disabled] {
    --dis-text-color: var(--disabled-color);
}

input:hover {
    --inp-hover-border-color: var(--accent-color);
    --sub-hover-bg-color: var(--accent-color);
    --text-hov-color: var(--hov-text-color);
}


