header {
    background-color: var(--content-background);
    max-width: 1000px;
    box-sizing: border-box;
    margin: 1rem auto;
    border-radius: 1rem;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 1rem 1rem;
    margin-top: 0;
}

.nav-bar {
    display: flex;
    flex-direction: row;
}

.main-nav {
    display: flex;
    flex-direction: row;
}

.user-nav {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 0;
}

.menu-item {
    color: var(--text-color);
    padding: 1rem;
    text-decoration: none;
}

.menu-item:hover {
    background-color: var(--accent-color);
    color: var(--hov-text-color);
    text-decoration: none;
}

.main-nav > .menu-item:first-child:hover {
    border-radius: 1rem 0 0 1rem;
}

.user-nav > .menu-item:last-child:hover {
    border-radius: 0 1rem 1rem 0;
}

.menu-button {
    display: none;
}

@media (max-width: 600px) {
    header {
        margin-top: 0;
        border-radius: 0;
    }

    .nav-bar {
        flex-direction: column;
        border-radius: 0;
    }

    .main-nav {
        flex-direction: column;
        display: none;
    }

    .user-nav {
        margin: 0;
        flex-direction: column;
        display: none;
    }

    .main-nav > .menu-item:first-child:hover {
        border-radius: 0;
    }

    .user-nav > .menu-item:last-child:hover {
        border-radius: 0;
    }

    .menu-button {
        display: flex;
    }

    .active {
        display: flex;
    }
}
