body {
    margin: 0;
    padding: 0;
    font-family: Helvetica,sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

.sticky-pad {
    margin-top: 5rem;
}

.content {
    background-color: var(--content-background);
    max-width: 1000px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

h1 {
    margin-top: 0;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    flex-direction: row;
}

.form-element {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-row > .form-element:not(:first-child) {
    margin-left: 1rem;
}

.form-element > label {
    margin-bottom: 0.1rem;
    margin-left: 1rem;
}

.form-element > input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--inp-background-color);
    color: var(--text-color);
    border: var(--border-weight) solid var(--inp-border-color);
    border-radius: 1rem;
    font: Helvetica;
    font-size: large;
}

.form-element > input:hover {
    border: var(--border-weight) solid var(--accent-color);
}

.form-element > input[type=submit] {
    background-color: var(--button-bg-color);
    color: var(--text-color);
    /* font-weight: bold; */
    cursor:pointer;
}

.form-element > input[type=submit]:hover {
    background-color: var(--accent-color);
    color: var(--hov-text-color);
}

.form-element > input[type=button] {
    background-color: var(--button-bg-color);
    color: var(--text-color);
    /* font-weight: bold; */
    cursor:pointer;
}

.form-element > input[type=button]:hover {
    background-color: var(--accent-color);
    color: var(--hov-text-color);
}

.form-element > input[disabled] {
    color: var(--disabled-color);
}

.form-element > textarea {
    background-color: var(--background-color);
    color: var(--text-color);
    outline-color: var(--inp-border-color);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    min-height: 20rem;
}

.checkbox {
    flex-direction: row;
}

.form-element > input[type=checkbox], input[type=radio] {
    width: 1.2rem;
    height: 1.2rem;
    border-width: 1px;
    margin-top: 0;
}

.form-element > input[type=checkbox]:checked, input[type=radio]:checked {
    accent-color: var(--accent-color);
    filter: none;
}

.form-element > ul {
    list-style-type: none;
    padding-left: 1rem;
}

.form-element > ul > li {
    margin-bottom: 0.5rem;
}

form > p {
    padding-left: 1rem;
}

.alert, .error {
    background-color: var(--alert-bg-color);
    color: var(--alert-text-color);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.info {
    background-color: var(--info-bg-color);
    color: var(--info-text-color);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.right-link {
    display: flex;
    flex-direction: row;
}

.right-link > :first-child {
    margin-right: auto;
    margin-bottom: auto;
}

.right-link > a.button {
    margin-left: 1rem;
    background-color: var(--button-bg-color);
    color: var(--text-color);
    padding: 0.5rem;
    height: fit-content;
    border-radius: .5rem;
    text-decoration: none;
    border: var(--border-weight) solid var(--border-color);
}

.right-link > a.button:hover {
    background-color: var(--accent-color);
    color: var(--hov-text-color);
}

.heading-exp > h2 {
    margin-top: 0.25rem;
}