{% extends "content.html" %}

{% block content %}
<div class="heading right-link">
    <h1>{{ module.code }} - {{ module.name }}</h1>
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('bp_education.edit_module', code=module.code) }}" class="button">Edit Module</a>
    <a href="{{ url_for('bp_education.new_topic', code=module.code) }}" class="button">New Topic</a>
    {% endif %}
</div>

<p>{{ module.description }}</p>

<p>Below are a list of topics that were covered in this module:</p>
<ul>
    {% for topic in module.topics %}
    <li><a href="{{ url_for('bp_education.view_topic', title=topic.title) }}">{{ topic.title }}</a></li>
    {% endfor %}
</ul>
{% endblock content %}
