{% extends "content.html" %}

{% block content %}
<div class="heading right-link">
    <h1>{{ module.code }} - {{ module.name }}</h1>
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('bp_education.edit_module', code=module.code) }}" class="button">Edit Module</a>
    <a href="{{ url_for('bp_education.new_topic', code=module.code) }}" class="button">New Topic</a>
    {% endif %}
</div>

<p>{{ module.description }}</p>

<!--
    Jinja code to count how many items in a object has an attribute
    This code was adapted from Stack Overflow post by Marc8 2018-12-7
    accessed on 2023-01-17
    https://stackoverflow.com/a/53671429/
 -->
{% if module.topics | selectattr("draft", "equalto", 0) | list | count > 0 or (current_user.is_authenticated and module.topics | list | count > 0) %}
<!-- end of referenced code -->

<p>Below are a list of topics that were covered in this module:</p>

{% with topics = module.topics %}
    {% include "topics/topics-list.html" %}
{% endwith %}

{% else %}
<p>There are currently no topics to view for this module.</p>
{% endif %}
{% endblock content %}
