{% extends "auth.html" %}

{% block heading %}
<h1>Login</h1>
<a class="button" href="{{ url_for('bp_home.home') }}">Home</a>
{% endblock heading %}

{% block authform %}
<form method="POST" action="">
    {{ form.csrf_token }}

    <div class="form-element">
        {{ form.username.label }}
        {{ form.username }}
        {% if form.username.errors %}
        <div class="alert">
        {% for error in form.username.errors %}
            {{ error }}
        {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="form-element">
        {{ form.password.label }}
        {{ form.password }}
        {% if form.password.errors %}
        <div class="alert">
        {% for error in form.password.errors %}
            {{ error }}
        {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="form-element">
        {{ form.submit }}
    </div>
</form>
{% endblock authform %}