.auth-form {
    margin-left: auto;
    margin-right: auto;
    background-color: #111111;
    max-width: 400px;
    padding: 1rem;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

form > label {
    margin-bottom: 0.1rem;
    margin-left: 1rem;
}

form > input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #333333;
    color: aliceblue;
    border: 1px solid #444444;
    border-radius: 1rem;
}

form > input[type=submit]:hover {
    background-color: #888888;
}

form > input[type=text]:focus {
    border-color: aliceblue;
}